{% extends 'base.html' %}

{% block content %}
<h2>
  Hi {% if current_user %}{{ current_user.first_name }}{% endif %}!
</h2>
<p>
  {% if tasks|length > 0 %}
  You're requested to annotate:
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-center" style="width: 5%">#</th>
        <th scope="col">Task Name</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td class="text-center">
          {{loop.index}}
        </td>
        <td>
          <a href="{{ url_for('tasks.show', id=task.task_id) }}"">
              {{task.name}}
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  There's nothing to annotate. Have a good day!
  {% endif %}
{% endblock %}