{% extends 'base.html' %}

{% block head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="/static/select2-bootstrap4.min.css" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="/static/task_edit.js"></script>
{% endblock %}

{% block header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      New Task
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<h1>New Classification Task</h1>

<form action="{{ url_for('tasks.create') }}" method="POST">

  <div class="row">
    <div class="col-6">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{ request.form['name'] }}" required>
      </div>

      <div class="form-group">
        <label for="data">What data will we annotate?</label>
        {% for fname in data_fnames %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="data" value="{{fname}}" id="data_{{fname}}"
            {{'checked' if fname in request.form.getlist('data') else ''}}>
          <label class="form-check-label" for="data_{{fname}}">
            {{fname}}
          </label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <label for="entity_type">What type of data will we annotate?
        <div class="form-check">
            <select name="entity_type">
                {% for entity_type in entity_types %}
                    <option value="{{ entity_type }}">{{ entity_type }}</option>
                {% endfor %}
            </select>
        </div>
        </label>
      </div>

      <div class="form-group">
        <label for="labels">What are the class names? One class per line.</label>
        <small class="form-text text-muted mt-0 mb-2">We assume Multi-Label classification by default, i.e. each
          instance can belong to many classes. If only one class is specified, we will use binary
          classification.</small>
        <textarea class="form-control" name="labels" id="labels" rows=5 required>
            {{- request.form['labels'] -}}
        </textarea>
      </div>

      <div class="form-group">
        <label for="annotators">Annotators</label>
        <small class="form-text text-muted mt-0 mb-2">At least one person required. You can add more later.</small>
        <select name="annotators[]" id="annotators" multiple="multiple" class="form-control">
        {% for u in users %}
            <option value="{{ u.id }}"{% if u.username in annotators_set %} selected{% endif %}>{{ u.username }}</option>
        {% endfor %}
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    </div>
  </div>
</form>
{% endblock %}