{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/style.css">

<!-- <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->
<script src="/static/react.development.js"></script>
<script src="/static/react-dom.development.js"></script>
<!-- <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script> -->

<!-- TODO: Use standard JSX preprocessor -->
<!-- <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script> -->
<script src="/static/babel.min.js"></script>

<!-- <script src="/static/like_button.js"></script> -->
<script src="/static/annotation_box.js" type="text/babel"></script>
<script src="/static/annotation_box_container.js" type="text/babel"></script>
{% endblock %}

{% block header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ anno["update_redirect_link"] }}">{{ anno["task_page_name"] }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {% if anno["item_id"] and anno["total_size"] %}
           Example ({{ anno["item_id"] }} / {{ anno["total_size"] }})
        {% else %}
           Example
        {% endif %}
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="text-center">
  <h6>
      {% if anno['is_new_annotation'] == True %}
          Task "{{task.name}}" AR #{{anno['req']['ar_id']}}
      {%  else %}
          Task "{{task.name}}" Annotation #{{anno['req']['annotation_id']}}
          by {{ anno['username'] }}
      {% endif %}
  </h6>
</div>

<div class="row">
  <div class="col">
  </div>
  <div class="col">
    {% if next_ar_id or anno['is_admin_correction'] %}
        <a style="display:block" class="btn btn-secondary m-auto"
           href={{url_for('tasks.annotate', task_id=task.id,
                ar_id=next_ar_id, item_id=((anno['item_id'] | int) + 1))
                }}>Skip</a>
    {% elif next_annotation_id %}
         <a style="display:block" class="btn btn-secondary m-auto" href={{url_for('tasks.reannotate', task_id=task.id, annotation_id=next_annotation_id)
                }}>Skip</a>
    {% endif %}
  </div>
  <div class="col">
  </div>
</div>

<div class="row my-4">
  <div class="col">



    <div id="react_container"></div>

  </div>
</div>

<script>
  window.data = {{ data | safe }};
</script>


<script type="text/babel">

  const e = React.createElement;

  const domContainer = document.querySelector('#react_container');
  ReactDOM.render(e(AnnotationBoxContainer, window.data), domContainer);

</script>
{% endblock %}