{% extends 'base.html' %}

{% block header %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Task
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h2>
    {{task}}
  </h2>

  <ol>
  {% for ar_id in ars %}
    <li>
        {% if has_annotation[loop.index0] %}
            <span class='badge badge-info'>Done</span>
        {% else %}
            <span class='badge badge-danger'>TODO</span>
        {% endif %}
        <a href={{url_for('tasks.annotate', id=task.task_id, ar_id=ar_id)}}>{{ar_id}}</a>
    </li>
  {% endfor %}
  </ol>

{% endblock %}