{% extends 'base.html' %}

{% block header %}
  <h1><a href="{{ url_for('index') }}">Home</a> > {% block title %}Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>
    {{task}}
  </h2>

  <ol>
  {% for ar_id in ars %}
    <li>
        <a href={{url_for('tasks.annotate', id=task.task_id, ar_id=ar_id)}}>Example {{loop.index0}} - {{ar_id}}</a>
        {% if has_annotation[loop.index0] %}
            <span class='good'>Done</span>
        {% else %}
            <span class='bad'>Need Label</span>
        {% endif %}
    </li>
  {% endfor %}
  </ol>

{% endblock %}