{% extends 'base.html' %}

{% block header %}
  <h1><a href="{{ url_for('index') }}">Home</a> > {% block title %}Task{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>
    {{task}}
  </h2>

  <ol>
  {% for d in data %}
    <li>
        <a href={{url_for('tasks.annotate', id=task.task_id, line=loop.index0)}}>Example {{loop.index0}}</a>
        {% if has_annotation[loop.index0] %}
            <span class='good'>Done</span>
        {% else %}
            <span class='bad'>Need Label</span>
        {% endif %}
    </li>
    
    <!-- <div class="flash">{{ d }}</div> -->
  {% endfor %}
  </ol>

{% endblock %}