{% extends 'base.html' %}

{% block header %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ url_for('index') }}">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Task
      </li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <h1>{{task}}</h1>

  <div class="card my-2">
    <div class="card-body">
      <h4>Basic Info</h4>
      <ul>
        <li>
          Task ID: 
          <span class="badge badge-light">{{task.task_id}}</span>
        </li>
        <li>
          Pattern Model:
          {% if task.get_pattern_model() %}
            <span class="badge badge-light">{{ task.get_pattern_model() }}</span>
          {% endif %}
        </li>
        <li>
          Models:
          <!-- TODO -->
          {% for model in task.models %}
            <span class="badge badge-light">{{model}}</span>
          {% endfor %}
        </li>
        <li>
          Data:
          {% for fname in task._data_filenames %}
            <span class="badge badge-light">{{fname}}</span>
          {% endfor %}
        </li>
        <li>
          Annotators:
          {% for annotator in task.annotators %}
            <span class="badge badge-light">{{annotator}}</span>
          {% endfor %}
        </li>
        <li>
          Labels: 
          {% for label in task.labels %}
            <span class="badge badge-light">{{label}}</span>
          {% endfor %}
        </li>
      </ul>

      <a class="btn btn-sm btn-secondary" href="{{ url_for('tasks.edit', id=task.task_id) }}">Edit</a>

    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      <h4>Annotations</h4>

      <div class="row">
        <div class="col">
          <ul>
            <li>
              Total outstanding requests: {{annotation_statistics['total_outstanding_requests']}}
            </li>
            <li>
              Outstanding requests for each annotator:
                <ul>
                  {% for k in annotation_statistics['n_outstanding_requests_per_user'] %}
                    <li>
                      {{k}}: {{annotation_statistics['n_outstanding_requests_per_user'][k]}}
                    </li>
                  {% endfor %}
                </ul>
            </li>
          </ul>
        </div>
        <div class="col">
          <ul>
            <li>
              Total Annotated: {{annotation_statistics['total_annotations']}}
            </li>
            <li>
              Annotated per label:
                <ul>
                  {% for k in annotation_statistics['n_annotations_per_label'] %}
                    <li>
                      {{k}}: 
                      {% for resp in annotation_statistics['n_annotations_per_label'][k] %}
                        <span class='badge badge-info'>{{resp}}</span>x{{annotation_statistics['n_annotations_per_label'][k][resp]}}
                      {% endfor %}
                    </li>
                  {% endfor %}
                </ul>
            </li>
            <li>
              Annotated by each annotator:
                <ul>
                  {% for k in annotation_statistics['n_annotations_per_user'] %}
                    <li>
                      {{k}}: {{annotation_statistics['n_annotations_per_user'][k]}}
                    </li>
                  {% endfor %}
                </ul>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- <code>
        {{annotation_statistics}}
      </code> -->

      {% for status in status_assign_jobs %}
        <div>
          Active Job: <span class="badge badge-info">{{status}}</span> <br />
          <i class='small'>Refresh page to see updates</i>
        </div>
      {% endfor %}
      
      {% if status_assign_jobs|length == 0 %}
        <form action="{{ url_for('tasks.assign', id=task.task_id) }}" method="POST">
          <button type="submit" class="btn btn-sm btn-secondary">Request more annotations from everyone</button>
        </form>
      {% endif %}

      

    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      <h4>Models</h4>
      <p>
        TODO: Train new model + Inference on existing files + Request new labels
      </p>

      <a class="btn btn-sm btn-secondary" href="#">Train new model</a>
    </div>
  </div>

{% endblock %}