{% extends 'base.html' %}

{% block header %}
<h1>Bulk Upload Annotations</h1>
{% endblock %}

{% block head %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
  <link href="/admin/static/select2-bootstrap4.min.css" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <script src="/admin/static/bulk_upload.js"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-8">

        <p>
            Note: Everything is <b>Case Sensitive</b>!
        </p>

        <form action="{{ url_for('annotations.bulk_post') }}" method="POST">
            <input type="hidden" name="redirect_to" value="{{ request.form['redirect_to'] | default(redirect_to) }}" />

            <div class="form-group">
                <label for="user">User</label>
                <select name="user" id="user" class="form-control" required>
                {% for u in users %}
                    <option value="{{ u.username }}"{% if u.username == request.form['user'] %} selected{% endif %}>
                    {% if u.first_name or u.last_name %}
                        {{ u.first_name }} {{ u.last_name }}
                    {% else %}
                        {{ u.username }}
                    {% endif %}
                    {# TODO: change to {{ u.get_display_name() }} after #201 is merged #}
                    </option>
                {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="label">Label</label>
                <input type="text" class="form-control" name="label" id="label" value="{{ request.form['label'] }}"
                    required>
            </div>

            <div class="form-group">
                <label for="label">Entity Type</label><br/>
                <select name="entity_type">
                    {% for type in entity_types %}
                        {% if 'entity_type' in request.form and type == request.form['entity_type'] %}
                            <option value="{{ type }}" selected>{{ type }}</option>
                        {% else %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="label">Set as GOLDEN ANNOTATIONS (The ground truth that overrides everyone's annotations).</label><br/>
                <input type="checkbox" name="is_golden" value="true" />
            </div>

            <div class="row">
                <div class="col">

                    <div class="form-group">
                        {% if request.form['entity_type'] == "company" %}
                            <label for="entities">Domains (one per line)</label>
                        {% else %}
                            <label for="entities">Entities (one per line)</label>
                        {% endif %}
                        <textarea class="form-control" name="entities" id="entities" rows=10 required>
                    {{- request.form['entities'] -}}
                  </textarea>

                    </div>

                </div>
                <div class="col">

                    <div class="form-group">
                        <label for="annotations">Annotations (one per line; 1, -1, or 0)</label>
                        <textarea class="form-control" name="annotations" id="annotations" rows=10 required>
                    {{- request.form['annotations'] -}}
                  </textarea>
                    </div>

                </div>

            </div>

            <button type="submit" class="btn btn-primary">Upload</button>
        </form>



    </div>
</div>


{% endblock %}