{% extends 'base.html' %}

{% block header %}
<h2>Edit Annotation Guide</h2>
{% endblock %}

{% block content %}
<form action="{{ url_for('annotation_guide.update') }}" method="POST">

    <input type="hidden" name="redirect_to" value="{{ redirect_to }}">

    <div class="form-group">
        <label for="name">Label</label>
        <input type="text" class="form-control" name="label" id="label" value="{{ label }}" readonly required>
    </div>

    <div class="form-group">
        <label for="name">Annotation Guide</label>
        <textarea type="text" class="form-control" name="text" id="text" rows=15>{{ text }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}