{% extends 'base.html' %}

{% block header %}
<div class="row">
  <div class="col">
    <h1>Tasks</h1>
  </div>
  <div class="col">
    <a class="btn btn-secondary float-right" href="{{ url_for('tasks.new') }}">New Classification Task</a>
  </div>
</div>
{% endblock %}

{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col" class="text-center" style="width: 5%">#</th>
      <th scope="col">Task Name</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td class="text-center">
        {{loop.index}}
      </td>
      <td>
        <a href="{{ url_for('tasks.show', id=task.id) }}"">
            {{task}}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}