{% extends 'base.html' %}

{% block header %}
<h1>Bulk Upload Annotations</h1>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-8">

        <p>
            Note: Everything is <b>Case Sensitive</b>!
        </p>

        <form action="{{ url_for('annotations.bulk_post') }}" method="POST">
            <input type="hidden" name="redirect_to" value="{{ request.form['redirect_to'] | default(redirect_to) }}" />

            <div class="form-group">
                <label for="user">User</label>
                <input type="text" class="form-control" name="user" id="user" value="{{ request.form['user'] }}"
                    required>
            </div>

            <div class="form-group">
                <label for="label">Label</label>
                <input type="text" class="form-control" name="label" id="label" value="{{ request.form['label'] }}"
                    required>
            </div>

            <div class="row">
                <div class="col">

                    <div class="form-group">
                        {% if request.form['entity_type'] == "company" %}
                            <label for="entities">Domains (one per line)</label>
                        {% else %}
                            <label for="entities">{{ request.form['entity_type'] }} (one per line)</label>
                        {% endif %}
                        <textarea class="form-control" name="entities" id="entities" rows=10 required>
                    {{- request.form['entities'] -}}
                  </textarea>

                    </div>

                </div>
                <div class="col">

                    <div class="form-group">
                        <label for="annotations">Annotations (one per line; 1, -1, or 0)</label>
                        <textarea class="form-control" name="annotations" id="annotations" rows=10 required>
                    {{- request.form['annotations'] -}}
                  </textarea>
                    </div>

                </div>

            </div>

            <button type="submit" class="btn btn-primary">Upload</button>
        </form>



    </div>
</div>


{% endblock %}