{% extends 'base.html' %}

{% block header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Model
    </li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<div class="card my-2">
  <div class="card-body">

    <h4>
      Models Page
    </h4>
      <div class="row">
          <div class="col-9">
            <div class="card mt-4">
              <div class="card-body">
                <table class="table">
                    <tbody>
                      <th>
                          <td>Label</td>
                          <td>Latest Version</td>
                          <td>Deployed Version</td>
                          <td>Number of useful data points</td>
                          <td>ROC AUC</td>
                          <td>Pr</td>
                          <td>Rc</td>
                          <td>F1</td>
                          <td>Threshold</td>
                          <td>Owner</td>
                          <td>Majority Annotator</td>
                          <td>Deployed?</td>
                          <td>Model Details</td>
                      </th>
                      {% for row in data_rows %}
                      <tr>
                        <td>{{ row.label }}</td>
                        <td>{{ row.latest_version }}</td>
                        <td>{{ row.deployed_version }}</td>
                        <td>{{ row.num_of_data_points }}</td>
                        <td>{{ row.roc_auc }}</td>
                        <td>{{ row.pr }}</td>
                        <td>{{ row.rc }}</td>
                        <td>{{ row.f1 }}</td>
                        <td>{{ row.threshold }}</td>
                        <td>NOT SUPPORTED YET</td>
                        <td>{{ row.majority_annotator }}</td>
                        <td>{{ row.has_deployed }}</td>
                        <td><a href="{{ url_for('models.show', label=row.label) }} }}" target="_blank">{{ Details }}</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
{% endblock %}