{% extends 'base.html' %}

{% block header %}
<h1>Data</h1>
{% endblock %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col" class="text-center" style="width: 5%">#</th>
            <th scope="col">File Name</th>
        </tr>
    </thead>
    <tbody>
        {% for fname in data_fnames %}
        <tr>
            <td class="text-center">
                {{loop.index}}
            </td>
            <td>
                {{fname}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}