{% extends 'base.html' %}

{% block content %}
  <br />
  <br />
  
  <div class="row">
    <div class="col-6 mx-auto">

      <h1>Login</h1>
      <form method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" id="username" aria-describedby="username" required>
          <small id="usernameHelp" class="form-text text-muted">There's no password.</small>
        </div>
        <!-- <label for="password">Password</label>
        <input type="password" name="password" id="password" required> -->
        <input class="btn btn-primary" type="submit" value="Log In">
      </form>

    </div>
  </div>
{% endblock %}