#fullscreen-loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999999;
}

#fullscreen-loading .spinner-border {
    position: relative;
    top: 50%;
    left: 50%;
}